/*----------- index page-----------------*/

.header{
    background-color: #603CA6;  /*-----menu----*/
    width: 100%;
    height: 170px;}
.bg{   
    background-image: url(images/bg.jpeg);/*----background image---*/
    background-position: center;
    background:cover;
    min-height: 500px;
    width: 100%;}
nav{
    display: flex;
    padding: 1.5% 7%;
    justify-content: space-between;
    align-items: center;}
.nav-links{
    text-align: right;}
.nav-links ul li{
    display: inline-block;
    padding: 8px  12px;
    position: relative;}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;}
.nav-links ul li::after{
    content:'';
    background-color:#fff;
    width: 0%;
    height: 2px;
    display: block;
    margin:auto;
    transition: 0.5s;}
.nav-links ul li:hover::after{
    width:100%;}
.text-box{
    width: 70%;
    color:black;
    text-align: center;
    top: 50%;
    left: 50%;
    right: 50%;
    position: absolute;
    transform: translate(-50%,-50%);}
.text-box h1{
    font-size: 35px;
    font-family: "Sedan SC", serif;}
.text-box p{
    font-size: 22px;}
.button1{
    top: -50%;
    left: 45%;
    right: 50%;
    position: absolute;
    display: inline-block;
    text-decoration: none;
    color:black;
    background-color: #603CA6;
    padding: 15px 15px;
    border: 2px solid black;
    font-size: 20px;
    position: relative;}
.button1:hover {
    color: #603CA6;
    border: 1.5px  solid black;
    background-color:#fff;
    transition: 0.5s;}
@media(max-width: 700px){
    .text-box h1{
        font-size: 35px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position:absolute;
        top:0;
        right:0;
        height:100vh;
        width: 200vh;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }}
h1{
    font-size: 25px;
    text-align: center;}
p{
    font-size: 17px;
    font-weight: 22;
    padding: 10px;
    line-height: 20px;}
.row{
    color: #fff;
    width: 100%;
    text-align: center;
    margin: auto;
    justify-content: space-between;
    display: flex;}
.info-col{
    flex : 30%;
    border-radius: 25px;
    margin: 2%;
    padding: 15px 10px;
    background-color: #603CA6;
    transition: 0.5s;}
.info-col:hover {
    box-shadow : 0 0 50px 0 #603CA6;}
.info-col :hover {
    box-shadow : 0 0 4px 0 black ;}
h2{
    text-align: center;
    margin: 10px ;}
.button2{
    display: inline-block;
    block-size: 12px;
    inset-block-end: 5px;
    text-decoration: none;
    background-color: #603CA6;
    color:black;
    padding: 15px 15px;
    border: 2px solid black;
    font-size: 20px;
    position:relative;}
.button2:hover{
    color: #603CA6;
    border: 1px solid black;
    background-color:#fff;
    transition: 0.5s;}
.para{
    padding: 5%;
    padding-top: 7%;
    text-align: center;}
.row2{
    background-color: aliceblue;
    padding-top: 0px;
    padding: 40px 100px;
    color:#603CA6;
    text-align: center;
    margin: auto;
    justify-content: space-between;
    display: flex;}
.button3{
    display: inline-block;
    block-size: 12px;
    text-decoration: none;
    color:#fff;
    padding: 15px 15px;
    border: 1px solid black;
    font-size: 20px;
    background:#603CA6;
    position:relative;
    cursor: pointer;}
.button3:hover{
    color: #603CA6;
    border: 2px solid black;
    background-color: #fff;
    transition: 0.5s;}


/*-----------------------about us-----------------------------*/

.sub-header{
    background-color: #603CA6;
    height: 150px;
    width: 100%;}
.abg{
    width: 100%;
    margin:auto;
    text-align: center;}
.abb{
    margin: auto;
    background-color: aliceblue;
    font-size: 20px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;}
.pic-3{
    padding-top: 0px;
    padding: 40px 100px;
    text-align: center;
    margin: auto;
    justify-content: space-between;
    display: flex;}
.pic-h{
    display: flex;
    background:cover;
    position: relative;
    display: inline-block;
    block-size: 12px;
    text-decoration: none;
    color:#fff;}
.t-b{
    display: inline-block;
    margin: auto;
    color: #603CA6;
    background-color:white;
    text-decoration: none;
    font-size: 25px;
    width: 50%;
    top: 1000%;
    right: 2%;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);}
.pic-2{
    padding-top: 230px;
    width: 55%;
    text-align: center;
    margin: auto;
    justify-content: space-between;
    display: flex;}
.t-b4{
    display: inline-block;
    text-decoration: none;
    margin: auto;
    color: #603CA6;
    background-color:white;
    font-size: 25px;
    top: 215%;
    width: 10%;
    right: 25%;
    text-align: center;
    /*position: absolute;*/
    transform: translate(-50%,-50%);}
.t-b5{
    display: inline-block;
    text-decoration: none;
    margin: auto;
    color: #603CA6;
    background-color:white;
    font-size: 25px;
    top: 215%;
    width: 10%;
    right: 54%;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);}
.t-b:hover,.t-b4:hover,.t-b5:hover{
    border: 2px solid white;
    background-color: aliceblue ;
    transition: 0.5s;}
.table{
    border-radius: 5px;
    width: 100%;
    font-size: 17px;
    border-color: black;
    border-collapse: collapse;
    background-color:rgb(222, 251, 251) ;}
.table td, .table th{
    text-align: center;
    padding: 4px;}
.table thead th{
    color : #fff ;
    background-color: #603Ca6;}


/*--------------------------------contact us-------------------*/

.contact-us{
    width: 55%;
    margin: auto;}
.contact1{
    flex-basis: 39%;
    margin-bottom: 30px;
    background-color: #fff;}
.contact1 h1{
    font-family: "Sedan SC", serif;
}
.contact2{
    background-color: aliceblue;}
.contact2 input, .contact2 textarea{
    width: 100%;
    font-size: 16px;
    padding: 20px 0px;
    margin-bottom: 18px;
    border: 1px solid #ccc;}
button{
    display: inline-block;
    text-decoration: none;
    color:#603CA6;
    padding: 10px 10px;
    border: 3px solid #603CA6;
    font-size: 20px;
    background:transparent;}
.button:hover {
    border: 1px  solid black;
    color: #fff;
    background-color:#603CA6 ;
    transition: 0.5s;}
.form textarea , .form input{
    width: 95%;
    padding: 20px;}


/*-----------------our services---------------------*/

.ab-header p{
    font-size: 17px;
    padding: 7px 60px;}
.ab-header h3{
    width: 100%;
    font-size: 28px;
    color: #603CA6;
    text-align: left;
    border-style: dashed dashed solid dashed;
    border-width: 4px;
    border-color: #fff #fff #603CA6 #fff;
    border-radius: 0px 0px 20px 0px ;}
.bl{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color:#603CA6;
    padding: 10px 10px;
    border: 3px solid #603CA6;
    font-size: 20px;
    background:transparent;}
.bl:hover {
    border: 2px  solid black;
    color: #fff;
    background-color:rgb(189, 243, 243) ;
    transition: 0.5s;}


/*------------------------donate----------------------*/
.donate{
    width: 55%;
    margin: auto;
    background-color: aliceblue;}
.payment{
    padding: 20px;}
.container{
    display: flex;
    padding: 40px;
    justify-content: center;}
.input-field{
    border: 1px solid #999;}
.input-field input{
    width: 98%;
    border: none;
    padding: 10px;}
.first-row{
    display: flex;
    justify-content: space-between;}
.selection{
    display: flex;
    justify-content: space-between;
    align-items: center;}
.selection select{
    padding: 10px 20px;}
.ojj{
    padding: 30px 280px;}
.b1{
    border: 2px solid;
    text-align: center;
    padding: 10px;
    display: inline-block;
    font-size: 18px;
    position: relative;
        cursor: pointer;}
.b1:hover {
     background-color: #603CA6;
     color: #fff;   
     transition: 0.5s;}


/*---------------------------------adopt-----------------------*/

.sub-adopt{
    width: 70%;
    margin: auto;   
    background-color: aliceblue;}
.row-3{
    background-color: aliceblue;
    padding-top: 0px;
    padding: 40px 100px;
    text-align: center;
    margin: auto;
    justify-content: space-between;
    display: flex;}
